<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="NonSQLOutputPath" value="\\10.58.40.18\deployment\Builds\NonSQLTest" />
    <add key="SQLOutputPath" value="\\10.58.40.18\deployment\Builds\SQLTest" />

    <add key="LocalNonSQLOutputPath" value="NonSQL" />
    <add key="LocalSQLOutputPath" value="SQL" />
  </appSettings>
  
</configuration>
