<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnvironmentManagerDataSection" type="DeploymentManager_GUI.ConnectionManagerDataSection, DeploymentManager GUI" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="NonSQLOutputPath" value="\\10.58.40.18\deployment\Builds\NonSQL" />
    <add key="SQLOutputPath" value="\\10.58.40.18\deployment\Builds\SQL" />
  </appSettings>
  
  <!--<configSections>
    <sectionGroup name="deploymentObjectGroup">
      <sectionGroup name="environment">
        <section
          name="regressDev"
          type="DeploymentManager_GUI.CustomConfiguration"
          allowLocation="true"
          allowDefinition="Everywhere"
        />
        <section
          name="redbox"
          type="DeploymentManager_GUI.CustomConfiguration"
          allowLocation="true"
          allowDefinition="Everywhere"
        />
      </sectionGroup>
    </sectionGroup>
  </configSections>-->
  
  <!--<deploymentObjectGroup>
    <environment remoteOnly="true">
      <TargetEnvironment name="RegressDev"/>
      <TargetAppServer name="MOTAPPDEV3001.motivadev.dev"/>
      <TargetSMServer name="MOTAPPDEV4001.motivadev.dev"/>
      <TargetRAMQServer name="MOTAPPDEV2001.motivadev.dev"/>
      <TargetSQLServer name="MOTAPPDEV1001.motivadev.dev"/>
      <TargetDatabase name="RegressDev"/>
    </environment>
    <environment remoteOnly="true">
      <TargetEnvironment name="Redbox"/>
      <TargetAppServer name="MOTAPPQA13001.motivadev.dev"/>
      <TargetSMServer name="MOTAPPQA14001.motivadev.dev"/>
      <TargetRAMQServer name="MOTAPPQA12001.motivadev.dev"/>
      <TargetSQLServer name="MOTDBPRE1001.motivadev.dev"/>
      <TargetDatabase name="RARedBox"/>
    </environment>
  </deploymentObjectGroup>-->

  

  <EnvironmentManagerDataSection>
    <Environments>
      <add
          name="DataLoadTest"
          appServer ="MOTAPPTST3001.MotivaDev.Dev"
          virtualDirectory="RightAngle.DataLoadTest"
          smServer="MOTAPPTST4001.MotivaDev.Dev"
          ramqServer="MOTAPPTST2001.MotivaDev.Dev"
          databaseServer="MOTDBSTST1001.motivadev.dev"
          database="DataLoadTest" />
      <add
          name="Functional1"
          appServer ="MOTAPPTST3001.MotivaDev.Dev"
          virtualDirectory="RightAngle.Functional1"
          smServer="MOTAPPTST4001.MotivaDev.Dev"
          ramqServer="MOTAPPTST2001.MotivaDev.Dev"
          databaseServer="MOTDBSTST1001.motivadev.dev"
          database="functional1" />
      <add
          name="Functional2"
          appServer ="MOTAPPDEV3001.motivadev.dev"
          virtualDirectory="RightAngle.15.0.Functional2"
          smServer="RightAngle.15.0.ProdTriage"
          ramqServer=""
          databaseServer="MOTDBSDEV1001.motivadev.dev"
          database="Functional2" />
      <add
          name="Prod_Triage"
          appServer ="MOTAPPQA13001.MotivaDev.Dev"
          virtualDirectory="RightAngle.15.0.ProdTriage"
          smServer="MOTAPPQA14001.motivadev.dev"
          ramqServer="MOTAPPQA12001.motivadev.dev"
          databaseServer="MOTDBSQA11001.motivadev.dev"
          database="RAProd_Triage" />
      <add
          name="RAIVStarterS15"
          appServer ="MOTAPPQA13001.MotivaDev.Dev"
          virtualDirectory="RightAngle.Starter"
          smServer="MOTAPPQA14001.motivadev.dev"
          ramqServer="MOTAPPQA12001.motivadev.dev"
          databaseServer="MOTDBSQA11001.motivadev.dev"
          database="RAIVStarterS15" />
      <add
          name="Redbox"
          appServer ="MOTAPPQA13001.motivadev.dev"
          virtualDirectory="RightAngle.Redbox"
          smServer="MOTAPPQA14001.motivadev.dev"
          ramqServer="MOTAPPQA12001.motivadev.dev"
          databaseServer="MOTDBSPRE1001.motivadev.dev"
          database="RARedBox" />
      <add 
         name="RegressDev" 
         appServer ="MOTAPPDEV3001.motivadev.dev" 
         virtualDirectory="RightAngle.15.0.RegressDev" 
         smServer="MOTAPPDEV4001.motivadev.dev" 
         ramqServer="MOTAPPDEV2001.motivadev.dev" 
         databaseServer="MOTAPPDEV1001.motivadev.dev" 
         database="RegressDev" />
      <add
          name="Sandbox"
          appServer ="MOTAPPDEV3001.motivadev.dev"
          virtualDirectory="RightAngle.15.0.Sandbox"
          smServer="MOTAPPDEV4001.motivadev.dev"
          ramqServer="MOTIVAAPPDEV2001.motivadev.dev"
          databaseServer="MOTDBSDEV1001.motivadev.dev"
          database="MotivaSandbox" />
      <add
          name="TrainingClass"
          appServer ="MOTAPPTST3001.MotivaDev.Dev"
          virtualDirectory="RightAngle.15.0.TrainingClass"
          smServer="MOTAPPTST4001.motivadev.dev"
          ramqServer="MOTAPPTST2001.motivadev.dev"
          databaseServer="MOTDBSTST1001.motivadev.dev"
          database="MotivaTrainingClass" />
      <add
          name="TEST"
          appServer ="MOTAPPDEV3001.motivadev.dev"
          virtualDirectory="RightAngle.Test"
          smServer="MOTAPPDEV4001.motivadev.dev"
          ramqServer="MOTAPPDEV2001.motivadev.dev"
          databaseServer="MOTDBSDEV1001.motivadev.dev"
          database="MotivaSecurity" />
      <add
          name="UAT2"
          appServer ="MOTAPPQA13001.MotivaDev.Dev"
          virtualDirectory="RightAngle.RAUAT2"
          smServer="MOTAPPQA14001.motivadev.dev"
          ramqServer="MOTAPPQA12001.motivadev.dev"
          databaseServer="MOTDBSQA11001.motivadev.dev"
          database="RA_UAT2" />
      <add
          name="Production"
          appServer ="Motiisprdvip5.motiva.prv"
          virtualDirectory="RightAngle.Prod"
          smServer=""
          ramqServer=""
          databaseServer=""
          database="" />
    </Environments>
  </EnvironmentManagerDataSection>
  
</configuration>